@import "~@angular/material/prebuilt-themes/indigo-pink.css";

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 300px;
  text-align: left;
}

th.mat-header-cell {
  text-align: left;
  max-width: 100px;
  font-size: 1em;
  font-weight: bold;
}

th span.mat-sort-header {
  font-size: 15px;
}


td a:hover,
td a:active {
  color: #000000 !important;
}


.card-header{
  width: 100%;
  text-align: center;
}

.spur-card {
  width: calc(100% - 10px);
  height: calc(100% - 0.001px);
}


.routerLink{
	
  font-weight: bold;
 
}