.card-header {
    width: 100%;
    text-align: center;
  }

  .card {
    align-items: center;
    width: calc(100% - 500px);
    height: calc(100% - 0.001px);
  }



input[type="number, localdate-time, text"], select {
width: 30% !important;
}  
